# Variables d'environnement
.env
.env.example

# Node modules
/node_modules

# Logs
/logs
*.log

# Mac / IDE / OS
.DS_Store
.vscode/

# manuals
DEMARRAGE_RAPIDE.md
/INSTALLATION.md
README.md
README.md.orig
STRUCTURE.txt
VERIFICATION.md